/* dark style for WampServer */
/*
                                                          /\
                                                         / .\
                                                        (_/\_)
                                                          )(
                                                         /__\
                                                       _/_/\_\_
                                                      _/_/__\_\_
                                                     _/_/_/\_\_\_
                                                    _/_/_/__\_\_\_
                                                  __/_/_/_/\_\_\_\__
                                                 _)__,________'____(_
                                                 )__________________(
                                                    |||      -   |
                                                    | _____-____ |
                                                    | |\      /| |
                                                    ' | \    / | |
                                                    | |  \  /  | |
                                                    | |   \/   | |
                                                    | |   /\   |'|
                                                    | |  /  \  | |
                                                   _| | /    \ | |_
                                                  //| |/      \|  \\
                                                 //|  /        \.
                                                //|  /    ||
                                               //|  /   __||__
                                              //|  ,   -__  __-
                                         ____//|  /    '  ||   .
                                        _)___/|  /   / /  ||    \
                                   /\   )__  \_ / __/_____/\_____\__
                                  /. \     |   / |__________________|
                                 (_/\_)    '  /   /.    ///\\\     \
    All that we are is             )(      |  |  |     /((  ))\ -   |
    the result of what            //\\     | -|  |    /  \\//  \    |
     we have thought.            //  \\__,_|  |  | - /\   \/   /\ ' |__
          /      |              //-   \____|  |  /  / ()  ()  () \  \  '
                            ___// ./\    \ |  | /  /  /\  /\  /\  \  \ |
      ,```_     _```,       )__   //\\   |_|  - |  | //\\//\\//\\ |  -
       c   -   -   c          |  ((  )) -| | .| |  |((  )(  )(  ))|  |
      ./|-`     `-|\.         |  |\\//|  | |  | '  | \\//\\//\\// |  |
      /` \       /` \         |- | \/ |  | '  | |  |  \/  \/  \/  |  '
     /_|  \)   (/  |_\        |  | () |  | |  | |  |  ()  ()  ()  |  |
      | .__|   |__, |         |  |//\\|  - | -| |  |  /\  /\  /\  |  |
      |   |     |   |         | -|/  \|  | -  | ,  | //\\//\\//\\ '  |
      |   |     |   |       __|_ |    | _|_|  |_|_ |//  \(  )/  \\|  |__+
      |___\     /___|      _)___||____||___|  |___||__   \\//   __|__,  |
  ______===_____===_______|____|  |__|  |_,|__|__|   |____\/____|    | ,
                    ___________________________________________________/
*/


* {

    margin: 0;
    padding: 0;
}

#stylecall {

}
#head {

}
#langues {

}
#themes {

}
#classic {

}
#dark {

}
#flat {

}
#light {

}
#modern {

}
#no-style {

}
#portfolio {

}
#simple {

}
#error {

}
clear: both;
#foot {

}
.innerhead {

}
.utility {

}
.config {

}
.innerconfig {

}
.content {

}
.divider1 {

}
.alltools.four-columns {

}
.inneralltools {

}
.column {

}
.tools {

}
.projects {

}
.aliases {

}
.vhost {

}
.divider2 {

}