/* dark style for WampServer */
/*
                                                          /\
                                                         / .\
                                                        (_/\_)
                                                          )(
                                                         /__\
                                                       _/_/\_\_
                                                      _/_/__\_\_
                                                     _/_/_/\_\_\_
                                                    _/_/_/__\_\_\_
                                                  __/_/_/_/\_\_\_\__
                                                 _)__,________'____(_
                                                 )__________________(
                                                    |||      -   |
                                                    | _____-____ |
                                                    | |\      /| |
                                                    ' | \    / | |
                                                    | |  \  /  | |
                                                    | |   \/   | |
                                                    | |   /\   |'|
                                                    | |  /  \  | |
                                                   _| | /    \ | |_
                                                  //| |/      \|  \\
                                                 //|  /        \.
                                                //|  /    ||
                                               //|  /   __||__
                                              //|  ,   -__  __-
                                         ____//|  /    '  ||   .
                                        _)___/|  /   / /  ||    \
                                   /\   )__  \_ / __/_____/\_____\__
                                  /. \     |   / |__________________|
                                 (_/\_)    '  /   /.    ///\\\     \
    All that we are is             )(      |  |  |     /((  ))\ -   |
    the result of what            //\\     | -|  |    /  \\//  \    |
     we have thought.            //  \\__,_|  |  | - /\   \/   /\ ' |__
          /      |              //-   \____|  |  /  / ()  ()  () \  \  '
                            ___// ./\    \ |  | /  /  /\  /\  /\  \  \ |
      ,```_     _```,       )__   //\\   |_|  - |  | //\\//\\//\\ |  -
       c   -   -   c          |  ((  )) -| | .| |  |((  )(  )(  ))|  |
      ./|-`     `-|\.         |  |\\//|  | |  | '  | \\//\\//\\// |  |
      /` \       /` \         |- | \/ |  | '  | |  |  \/  \/  \/  |  '
     /_|  \)   (/  |_\        |  | () |  | |  | |  |  ()  ()  ()  |  |
      | .__|   |__, |         |  |//\\|  - | -| |  |  /\  /\  /\  |  |
      |   |     |   |         | -|/  \|  | -  | ,  | //\\//\\//\\ '  |
      |   |     |   |       __|_ |    | _|_|  |_|_ |//  \(  )/  \\|  |__+
      |___\     /___|      _)___||____||___|  |___||__   \\//   __|__,  |
  ______===_____===_______|____|  |__|  |_,|__|__|   |____\/____|    | ,
                    ___________________________________________________/
*/


* {
    margin: 0;
    padding: 0;
    transition: all 0.05s;
    list-style-type: none;
}
h1{
  float: left;
  position: absolute;
  margin-left: 49vw;
}
.innerhead ul{
  float: left;
  position: relative;
  margin-left: 10vw;
}
 .innerhead li {
  float: left;
  padding-left: 3vw;
  }
.utility li {
  position: relative;
  float: left;
}
.utility li:last-child{
  right: 0;
}
.utility li select{
  margin-left: 5vw
}


#stylecall {

}

#head {
  background-color: seagreen;
  height: 100px;

}

#langues {

}

#themes {

}

#classic {

}

#dark {

}

#flat {

}

#light {

}

#modern {

}

#no-style {

}

#portfolio {

}

#simple {

}

#template {

}

#error {

}
    clear: both;

#foot {

}

.innerhead {

}

.utility {
  float: right;

}

.config {
  clear: both;

}

.innerconfig {

}

.content {

}

.divider1 {

}

.alltools.four-columns {
  position: absolute;
  top: 100px;
  background-color: gold;
  padding-left: 15vw;
  padding-right: 15vw;

}

.inneralltools {

}

.column:nth-child(1) {
  float: left;
}
.column:nth-child(2) {
  float: left;
  margin-left: 20px
}
.column:nth-child(3) {
  float: right;
  margin-right: 20px
}
.column:nth-child(4) {
  float: right;
  margin-right: 20px
}



.column h2{
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  width: fit-content;
  width: 100px;
  height: 100px;

}

.column:nth-child(1) h2{
  background-color: #337ab7;
  border-color: #2e6da4;
}
.column:nth-child(2) h2{
  background-color: #337ab7;
  border-color: #2e6da4;
}
.column:nth-child(3) h2{
  background-color: #337ab7;
  border-color: #2e6da4;
}
.column:nth-child(4) h2{
  background-color: #337ab7;
  border-color: #2e6da4;
}
.tools {
      width: 100%;
    float: left;
    position: absolute;
    margin-left: -15vw;
    padding-left: 15vw;

}
.projects {
      width: 100%;
    float: left;
    position: absolute;
    margin-left: -27vw;
    padding-left: 15vw;

}

.aliases {
    width: 100%;
    float: left;
    position: absolute;
    margin-left: -57vw;
    padding-left: 0vw;

}

.vhost {
      width: 100%;
    float: left;
    position: absolute;
    margin-left: -60vw;
    padding-left: 15vw;

}

.divider2 {
  clear: both;

}